<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <section id="upper-left">
        <h1 id="date">{{ dates.day }}<sup id="nth">{{ dates.nth }}</sup></h1>
        <h2 id="month">{{ dates.month }} </h2>
        <h3 id="day">{{ dates.year }}</h3>
        <section id="weather">
            <h1 id="temp_now">{{ weather.temp_now }}º now</h1>
            <h2 id="temp_min_max">{{ weather.temp_min }}º - {{ weather.temp_max }}º</h2>
            <!-- <h3 id="rain_chance">{{ weather.rain_chance }}% chance of rain.</h3>
            <h3>{{ weather.short_text }}</h3> -->
            <h3>
                {{ weather.extended_text }}
            </h3>
            <h4 id="weather-icon" style="background-image:url('/static/img/{{ weather.icon_descriptor }}.png')">
            </h4>
        </section>
    </section>
    <section id="upper-right">
        <p id="verse-text"> {{ verse.text }}

        </p>
        <p id="verse-ref">({{ verse.reference }})
        </p>
    </section>
    <section id="main-left">
        <h1>Coming up...</h1>
        <ul>

            {% for i in range(0, len_events) %}

            <li><strong>{{ events[i].name }}</strong>
                <br /> <span class="tab">on a {{ events[i].begin }} {{ events[i].h_begin }}</span></li>
            {%endfor%}

        </ul>
    </section>
    <section id="main-right">
        <h1>News</h1>
        <ul>

            {% for i in range(0, len_news) %}

            <li>{{ news[i] }}</li>
            {%endfor%}

        </ul>
    </section>
</body>
<footer>

</footer>